body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

/* .container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 50px;
} */

.container h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.form-group button {
    padding: 10px 20px;
    background-color: #4285f4;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
}

.form-group button:hover {
    background-color: #1a73e8;
}

.company-info {
    width: 40%;
    float: left;
    padding-right: 20px;
}
.contact-form {
    width: 60%;
    float: right;
}
@media (max-width: 768px) {
    .company-info, .contact-form {
        width: 100%;
        float: none;
    }
}